.detail__link {
    text-decoration: none;
    .mainPage__item {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 500px;
        height: auto;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        outline: 1px solid #333;
        transition: background-color .3s ease-in-out, color .3s ease-in-out;
    
        .mainPage__item-title {
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: 600;
            color: #0f54dd;
        }
    
        .mainPage__item-descr {
            margin-top: auto;
            font-size: 20px;
            font-weight: 400;
            color: #333D51;
        }
    
        &:hover {
            background-color: #37c59b;
        }
    }
}

